S3method(plot,verisr)
S3method(summary,verisr)
export(countMatrix)
export(foldmatrix)
export(getccc)
export(getenum)
export(getenumby)
export(getenumlist)
export(getfilter)
export(getlevel)
export(indname2label)
export(industry2label)
export(json2veris)
export(pcamatrix)
export(veris2csv)
export(veris2matrix)
import(rjson)
