S3method(plot,verisr)
S3method(summary,verisr)
export(countMatrix)
export(foldmatrix)
export(getenum)
export(getenumlist)
export(getfilter)
export(json2veris)
export(pcamatrix)
export(veris2csv)
export(veris2matrix)
import(rjson)
